# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /workdir/repo/poky/meta \
  /workdir/repo/poky/meta-poky \
  /workdir/repo/poky/meta-yocto-bsp \
  /workdir/repo/poky/../meta-openembedded/meta-oe \
  /workdir/repo/poky/../meta-ti \
  "
